section {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    gap: 30px;
    transition: 1s;
}

section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px 0px;
}

section ul li {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 50px;
    width: 260px;
    height: 360px;
}

section ul li p {
    font-size: 1.8rem;
    width: 240px;
    padding: 7px;
    border-radius: 30px;
    text-align: center;
    transition: 1s;
}

section ul li div {
    display: flex;
    gap: 20px;
}

section ul li a {
    text-decoration: none;
}

svg {
    transition: 1s;
}

.clearTitle {
    color: #090C08;
}

.darkTitle {
    color: #ccc;
}

.clearLi {
    border: 2px #02040F solid;
    transition: 1s;
}

.darkLi {
    border: 2px #DEE7E7 solid;
    transition: 1;
}

.clearP {
    background-color: #DEE7E7;
    color: #090C08;
}

.darkP {
    background-color: #02040F;
    color: #ccc;
}

.divContainer {
    padding: 5px;
    border-radius: 50px;
    transition: 1s;
}

.clearProyectsIcons {
    background-color: #DEE7E7;
    color: #090C08;
}

.darkProyectsIcons {
    background-color: #02040F;
    color: #ccc;
}

.clearColor {
    color: #090C08;
}

.darkColor {
    color: #ccc;
}

.iconCustom {
    font-size: 4rem;
    transition: 1s;
}

.titleProyects {
    text-align: center;
    font-size: 3rem;
    transition: 1s;
}

.portfolio {
    background-image: url('/public/portfolio.webp');
}

.pelisPedia {
    background-image: url("/public/pelisPedia.webp");
}

.mundoRjs {
    background-image: url("/public/mundoRjs.webp");
}

.warshipsApi {
    background-image: url("/public/warships.webp");
}

.toDo {
    background-image: url("/public/toDo.webp");
}

.quizzApp {
    background-image: url("/public/quizzApp.webp");
}

.simpsons {
    background-image: url("/public/simpsons.webp");
}

.mundoJs {
    background-image: url("/public/mundoJs.webp");
}

.slipknot {
    background-image: url("/public/slipknot.webp");
}

.clearProyects {
    background-color: #F4FAFF;
}

.darkProyects {
    background-color: #02040F;
}