.boxUris {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.boxRepositories {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  width: 110px;
}