.clearNav {
    display: none;
}

.darkNav {
    display: none;
}

.clearBtnMode {
    background-color: #403F4C;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 25px;
}

.darkBtnMode {
    background-color: #DEE7E7;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 25px;
}

.clearHeader {
    background-color: #DEE7E7;
}

.darkHeader {
    background-color: #403F4C;
}

.btn {
    border: none;
    font-size: 20px;
    width: 28px;
    height: 28px;
    border-radius: 20px;
}

.clearOne {
    background-color: #403F4C;
    color: #ccc;
    transition: 1s;
}

.clearOne:hover {
    background-color: #090C08;
}

.clearTwo {
    background-color: #474056;
    color: #ccc;
    transition: 1s;
}

.clearTwo:hover {
    background-color: #090C08;
}

.divSocialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.divSocialMedia img {
    width: 50px;
    height: 50px;
}

@media screen and (min-width: 280px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0px;
        width: 100%;
    }

    li {
        list-style-type: none;
    }

    .clearLink {
        color: #090C08;
        font-size: 20px;
        text-decoration: none;
        transition: 1s;
    }

    .clearLink:hover {
        color: #474056;
    }

    .darkLink {
        color: #ccc;
        font-size: 20px;
        text-decoration: none;
        transition: 1s;
    }

    .darkLink:hover {
        color: #fafafa;
    }

}

@media screen and (max-width: 550px) {
    .open {
        display: block;
    }

    .disable {
        display: none;
    }

    .clearNavVisible {
        opacity: 1;
        visibility: visible;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 10px;
        right: 0;
        bottom: 0;
        top: 0;
        padding: 1.3rem;
        background-color: #DEE7E7;
        box-shadow: 0 0 0 100vmax rgb(0, 0, 0, .5)
    }

    .darkNavVisible {
        opacity: 1;
        visibility: visible;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 10px;
        right: 0;
        bottom: 0;
        top: 0;
        padding: 1.3rem;
        background-color: #403F4C;
        box-shadow: 0 0 0 100vmax rgb(0, 0, 0, .5)
    }

    .active {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 10px;
        padding: 5px;
    }
}

@media screen and (min-width: 551px) {
    .btn {
        display: none;
    }

    .clearNav,
    .darkNav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}